
<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
  
<div fxFlex style="text-align:center">

  <img width="100%" height="400px" alt="Hacker news" src="../assets/images/header.jpeg">
</div>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
    <ng-container matColumnDef="story_title" >
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"   > 
        
          {{element.story_title ? element.story_title : element.title}} <span [ngClass]="{'author': true}"> - {{element.author}} - </span> 
       
        </td>
      </ng-container>
   
      <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Created </th>
          <td  mat-cell *matCellDef="let element" (click)="getRecord(element)"> {{element.created_at | timeAgo}}  </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteRecord($event,element)">
                    <mat-icon>delete</mat-icon>
                 </button>  
            </td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row appHighlight  (click)="getRecord(row)"  [ngClass]="{'normal': true}" *matRowDef="let row; columns: displayedColumns;"></tr>
      <!--(click)="getRecord(row)"-->
</table>
</div>

